RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(pt*)/$ inicio.php?language=pt    [L,QSA]
RewriteRule ^(es*)/$ inicio.php?language=es    [L,QSA]
RewriteRule ^(admin*)/$ admin/                [L,QSA]